<div class="container">
  <div class="heading text-center mt-5">
    <p class="h1">Search For Your Favourite Artists</p>
  </div>
  <div class="l-search-bar mt-3">
    <mat-form-field appearance="outline">
      <input
        autocomplete="off"
        matInput
        type="text"
        placeholder="Find your favourite artists..."
        [formControl]="artistSearchControl"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <div *ngIf="artistList$ | async as artists">
    <div class="d-flex flex-row flex-wrap text-center justify-content-center">
      <div *ngFor="let artist of artists">
        <app-artist-profile-card [artist]="artist"></app-artist-profile-card>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <mat-progress-spinner
      [mode]="'indeterminate'"
      *ngIf="loading$ | async"
    ></mat-progress-spinner>
  </div>
</div>
